@using YumBlazor.Utility
 @inherits LayoutComponentBase
 @inject AuthenticationStateProvider _AuthenticationStateProvider

<div class="page">
     <AuthorizeView Roles="@SD.Role_Admin">
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>
    <main>
        @if (_navBarVisible)
        {
            <NavBar></NavBar>
        }
           @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container">
        <div class="row text-center text-md-start">
           @*  <div class="col-md-4 mb-3">
                <h5 text-a>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="/cart" class="text-white text-decoration-none">Cart</a></li>
                    <li><a href="/order/list" class="text-white text-decoration-none">Order List</a></li>
                </ul>
            </div> *@
            <div class="col-md-4 mb-4">
                <h5>Social Media</h5>
                <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
                    <li><a href="https://www.facebook.com/DhanushKolluri7" class="text-white me-3"><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href="https://www.instagram.com/dhanush_kolluri/" class="text-white"><i class="bi bi-instagram"></i> Instagram</a></li>

                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact Us</h5>
                <p>Email: <a href="mailto:dhanushkolluri98@gmail.com" class="text-white text-decoration-none">dhanushkolluri98@gmail.com</a></p>
                <p>Phone: <a href="tel:+919701667053" class="text-white text-decoration-none">+91 9701667053</a></p>
                <p>Address: 2-156/1,Tadigadapa Main Road, Vijayawada</p>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Our Location</h5>
                <!-- Embed Google Map -->
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3826.000823387531!2d80.69534307545459!3d16.475495984264384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTbCsDI4JzMxLjgiTiA4MMKwNDEnNTIuNSJF!5e0!3m2!1sen!2sin!4v1742883083725!5m2!1sen!2sin"
                            width="500"
                            height="200"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
        <p class="text-center mt-4">&copy; 2025 Dhanush Kolluri</p>
    </div>
</footer>


@code {
    private bool _navBarVisible;
    protected override async Task OnInitializedAsync()
    {
        _navBarVisible = await ShowNavBar();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _navBarVisible = await ShowNavBar();
    }

    private async Task<bool> ShowNavBar()
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var authenticated = user.Identity is not null && user.Identity.IsAuthenticated;

        if (!authenticated)
        {
            return true;
        }

        //Navbar should not be displayed to admin user
        if (!user.IsInRole(SD.Role_Admin))
        {
            return true;
        }
        return false;
    }
 }
